﻿@model Thuoc

@{
    Layout = null;
}

@using (Html.BeginForm("Create", "Thuoc", FormMethod.Post, new { name="frm" }))
{
    <div class="modal-header bg-purple">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Thêm Thuốc</h4>
    </div>

    <div class="modal-body form-horizontal">
        <!-- form start -->
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TenThuoc, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.TenThuoc, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenThuoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonVi, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.DonVi, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DonVi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.DonGia, new { @class = "form-control divide" })
                @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CachDung, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextAreaFor(m => m.CachDung, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CachDung, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn bg-purple pull-left" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-default bg-green">Thêm Mới</button>
    </div>
}
<script>
      $('.divide').divide({
            delimiter: '.',
            divideThousand: true, // 1,000..9,999
            delimiterRegExp: /[\.\,\s]/g
        }).keypress(function (key) {
            if (key.charCode < 48 || key.charCode > 57) return false;
        });
</script>
@Scripts.Render("~/bundles/jqueryval")
