﻿@model List<Thuoc>

@{
    ViewBag.Title = "Danh Sách Thuốc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{

}


@section scripts{
    <script>
        $(function () {
            $(document).on("submit", "form[name=frm]", function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("action"),
                    method: "Post",
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.status == 1) {
                            window.location.reload();
                        }
                        else {
                            ShowPopUpError(result.message);
                        }
                    },
                    error: function () {
                        ShowPopUpError("Lỗi ajax!");
                    }
                });
            });
        });
    </script>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Dashboard")"><i class="fa fa-dashboard"></i> Bảng Điều Khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <p>
                    <a data-toggle="modal" href="@Url.Action("_CreateModal")" class="btn bg-purple btn-sm" data-target="#modal-createModal">Thêm Mới</a>
                </p>
            </div>
            <div class="box">
                <div class="box-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-middle table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">STT</th>
                                            <th>Tên Thuốc</th>
                                            <th>Đơn Vị</th>
                                            <th>Đơn Giá</th>
                                            <th>Cách Dùng</th>
                                            <th class="text-center col-sm-2">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ 
                                            int i = 1;
                                        }
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td class="text-center">
                                                @i
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenThuoc)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DonVi)
                                            </td>
                                            <td>
                                                @Warehouse.Models.Format.FormatCurrencyVND(item.DonGia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CachDung)
                                            </td>
                                            <td>
                                                <a data-toggle="modal" data-target="#modal-editModal" href="@Url.Action("_EditModal", new { Id = item.MaThuoc })" class="btn bg-purple btn-sm"><i class="fa fa-edit"></i> Sửa</a>
                                                <a data-toggle="modal" data-target="#modal-deleteModal" href="@Url.Action("_DeleteModal", new { Id = item.MaThuoc })" class="btn btn-default btn-sm"><i class="fa fa-remove"></i> Xóa</a>
                                            </td>
                                        </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<div class="modal fade modal-ajax" id="modal-createModal">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade modal-ajax" id="modal-editModal">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade modal-ajax" id="modal-deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

 