﻿@model List<HoaDonThanhToan>
@{
    ViewBag.Title = "Hóa Đơn Thanh Toán";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    @if (Model.Count == 0)
                    {
                        <p class="text-center">Chưa có hóa đơn nào</p>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-sm-12">
                                <table class="table table-bordered" method="post" style="margin-bottom:50px">
                                    <thead class="bg-purple">
                                        <tr class="bg-dark">
                                    
                                            <th colspan="4" >
                                                BM4. Hóa Đơn Thanh Toán
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="4">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <span class="col-sm-4">Họ tên</span>
                                                            <div class="col-sm-8">
                                                                <label>@item.PhieuKham.BenhNhan.HoTen</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <span class="col-sm-4">Ngày khám</span>
                                                            <div class="col-sm-8">
                                                                <label>@(item.PhieuKham.NgayKham.ToString("dd/MM/yyyy"))</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <span class="col-sm-4">Tiền khám</span>
                                                            <div class="col-sm-8">
                                                                <label>@(Warehouse.Models.Format.FormatCurrencyVND(item.TienKham))</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" >
                                                            <span class="col-sm-4">Tiền thuốc</span>
                                                            <div class="col-sm-8">
                                                                <label>@(Warehouse.Models.Format.FormatCurrencyVND(item.TienThuoc))</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>