﻿ 

 <script>
     $(".datepicker").datepicker($.datepicker.regional["vi"]);
 </script>

<form action="@Url.Action("_CreateModal")" method="post" name="frm" class="form-horizontal">
    <div class="modal-header bg-green">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Lập Danh Sách Khám Bệnh</h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered table-middle" method="post">
                <thead>
                    <tr class="bg-dark">
                        <th class="text-center">
                            BM1
                        </th>
                        <th colspan="4"  >
                            DANH SÁCH KHÁM BỆNH
                        </th>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">
                            <label class="col-sm-4 control-label">Ngày khám</label>
                            <div class="col-sm-4">
                                <input type="text" name="NgayKham" class="form-control datepicker" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center">STT</th>
                        <th>Họ tên</th>
                        <th>Giới tính</th>
                        <th>Năm sinh</th>
                        <th>Địa chỉ</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 5; i++)
                    {
                        <tr>
                            <td class="text-center">
                                <span>@i</span>
                            </td>
                            <td>
                                <input type="text" name="HoTen_@i" class="form-control" />
                            </td>
                            <td>
                                <select class="form-control"  name="GioiTinh_@i">
                                    <option value="1">Nam</option>
                                    <option value="0">Nữ</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" min="1900"  max="@DateTime.Now.Year" class="form-control" name="NamSinh_@i" />
                            </td>
                            <td>
                                <input type="text" name="DiaChi_@i" class="form-control" />
                            </td>
                        </tr>
                         
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-default bg-green">Thêm Mới</button>
    </div>
</form>




