﻿@model List<BenhNhan>
@{
    ViewBag.Title = "Danh Sách Khám Bệnh";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link href="~/Scripts/DatePicker/themes/jquery-ui.css" rel="stylesheet" />

}

@section scripts{
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DatePicker/jquery-ui.js"></script>
    <script src="~/Scripts/DatePicker/jquery.ui.datepicker-vi.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#tblData').DataTable({
                'ordering': false,
                'searching': false,
                'lengthChange': false,
                'info': false
            });

            $(document).on("submit", "form[name=frm]", function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("action"),
                    method: "Post",
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.status == 1) {
                            window.location.reload();
                        }
                        else {
                            ShowPopUpError(result.message);
                        }
                    },
                    error: function () {
                        ShowPopUpError("Lỗi ajax!");
                    }
                });
            });


        });
    </script>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <a href="@Url.Action("_CreateModal","KhamBenh")" class="btn btn-success" data-toggle="modal" data-target="#modal-themKhamBenh">Thêm Mới</a>
                            </p>
                            <div class="table-responsive">
                                <table id="tblData" class="table table-bordered" method="post">
                                    <thead>
                                        <tr>
                                            <th class="text-center">STT</th>
                                            <th>Họ Tên</th>
                                            <th class="text-center">Giới Tính</th>
                                            <th>Năm Sinh</th>
                                            <th>Địa Chỉ</th>
                                            <th>Ngày Khám</th>
                                            <th>Tạo Phiếu Khám</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                        }
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td class="text-center">
                                                @i
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => item.HoTen)
                                            </td>
                                            <td class="text-center">
                                                @if (item.GioiTinh == true)
                                                {
                                                    <span>Nam</span>
                                                }
                                                else
                                                {
                                                    <span>Nữ</span>
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => item.NamSinh)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => item.DiaChi)
                                            </td>
                                            <td>
                                                @(item.PhieuKham.NgayKham.ToString("dd/MM/yyyy"))
                                            </td>
                                            <td>
                                                <a href="@Url.Action("_CreateModal", "PhieuKham", new { MaBenhNhan = item.MaBenhNhan })" data-toggle="modal" data-target="#modal-themPhieuKhamBenh" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Tạo Phiếu Khám</a>
                                            </td>
                                        </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


<div class="modal fade modal-ajax" id="modal-themKhamBenh">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>


<div class="modal fade modal-ajax" id="modal-themPhieuKhamBenh">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>


