﻿@model  Dictionary<int, List<f_ThongKeDoanhThuTheoNgay_Result>>
@{
    ViewBag.Title = "Báo Cáo Doanh Thu Theo Ngày";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                  
                    @foreach (var group in Model)
                    {
                        int i = 1;
                        <div class="col-sm-12">
                            <table class="table table-bordered" method="post" style="margin-bottom:50px">
                                <thead class="bg-blue">
                                    <tr class="bg-dark">
                                        <th colspan="4">
                                            BM5.1 @ViewBag.Title
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4">
                                            Tháng: <label>@group.Key</label>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>STT</th>
                                        <th>Ngày</th>
                                        <th>Số Bệnh Nhân</th>
                                        <th>Doanh Thu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in group.Value)
                                    {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.NgayKham.ToString("dd/MM/yyyy")</td>
                                        <td>@item.SoBenhNhan</td>
                                        <td>@(Format.FormatCurrencyVND(item.DoanhThu))</td>
                                    </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
