﻿@model Dictionary<int, IEnumerable<BaoCaoSuDungThuocDto>>
@{
    ViewBag.Title = "Báo Cáo Sử Dụng Thuốc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">

                    @foreach (var group in Model)
                    {
                        int i = 1;
                        <div class="col-sm-12">
                            <table class="table table-bordered" method="post" style="margin-bottom:50px">
                                <thead class="bg-blue">
                                    <tr>
                                        <th colspan="5">
                                            BM5.2 @ViewBag.Title
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="5">
                                            Tháng: <label>@group.Key</label>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>STT</th>
                                        <th>Thuốc</th>
                                        <th>Đơn Vị Tính</th>
                                        <th>Số Lượng</th>
                                        <th>Số Lần Dùng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in group.Value)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.TenThuoc</td>
                                            <td>@item.DonVi</td>
                                            <td>@item.SoLuong</td>
                                            <td>@item.SoLanDung</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

