﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | SMART STORE </title>
    <meta name="robots" content="none" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- bootstrap datepicker -->
    @* <link rel="stylesheet" href="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">*@
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="~/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">
    <link href="~/dist/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/popupImage.css" type="text/css" />
    @RenderSection("styles", false)
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .margin-top-10 {
            margin-top: 10px !important;
        }

        body {
            font-family: Arial, Helvetica, sans-serif !important;
        }

        .table-border-none tr {
            border: none;
        }

        .table-border-none td {
            border: none !important;
        }

        .clearfix {
            clear: both;
        }

        .table-middle tr td {
            vertical-align: middle !important;
        }

        .modal-body {
            overflow: auto;
        }

        .table-info tr td:first-child {
            text-align: right;
        }

        .table-info tr td:nth-child(2) {
            font-weight: bold;
        }

        .table-info tr td:first-child {
            width: 40%;
        }
    </style>
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper" style="overflow-y:hidden">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"> <b>Admin</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Html.Action("_UserLoggedPartial", "AspNetUser")

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            @Html.Partial("_SidebarPartial")
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
       
        <div class="content-wrapper">
            @RenderBody()
            <button type="button" class="btn btn-success hide" data-toggle="modal" data-target="#modal-success"></button>
            <button type="button" class="btn btn-success hide" data-toggle="modal" data-target="#modal-error"></button>
            <div class="modal fade" id="modal-success">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-green">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Thông báo</h4>
                        </div>
                        <div class="modal-body">
                            <div class="box-body">
                                <p></p>
                            </div>
                        </div>
                        <div class="modal-footer text-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div class="modal fade" id="modal-error">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-red">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Lỗi</h4>
                        </div>
                        <div class="modal-body">
                            <div class="box-body">
                                <p></p>
                            </div>
                        </div>
                        <div class="modal-footer text-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <!-- The Modal Show Popup Image -->
            <div id="modalShowImage" class="modal-Image">
                <!-- The Close Button -->
                <span class="close">&times;</span>
                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">
                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
            </div>

        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            Copyright &copy; 2020 Created by <strong>Store Smart</strong>.
        </footer>

        <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

    <!-- ./wrapper -->
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/dist/js/number-divider.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <!-- bootstrap datepicker -->
    @*<script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>*@
    <script src="~/Scripts/jquery.ui.datepicker-vi.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Slimscroll -->
    <script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <script src="~/Scripts/jquery.tableToExcel.js"></script>

    <script>
        $('.divide').divide({
            delimiter: '.',
            divideThousand: true, // 1,000..9,999
            delimiterRegExp: /[\.\,\s]/g
        }).keypress(function (key) {
            if (key.charCode < 48 || key.charCode > 57) return false;
        });

        $(".modal-ajax").on("show.bs.modal", function (e) {
            var link = $(e.relatedTarget);
            $(this).find(".modal-content").html("");
            $(this).find(".modal-content").load(link.attr("href"));
        });

        // Event khi người dùng click vào hình ảnh có class popupImage
        $(".popupImage").click(function () {
            var modal = document.getElementById("modalShowImage");  // Tạo biến modal lấy ra element có Id  modalShowImage
            var captionText = document.getElementById("caption");  // Tạo biến captionText lấy ra từ element có Id caption
            var modalImg = document.getElementById("img01");   // Tạo biến modalImg lấy ra từ element có Id img01
            modal.style.display = "block";    // Hiển thị  popup
            modalImg.src = $(this).attr("src");  // Gán thuộc tính src của hình ảnh trong popup
            captionText.innerHTML = $(this).attr("alt");   // Gán giá trị cho caption theo thuộc tính alt của hình
        });
        // Event khi người dùng click nút Close popup
        $(".modal-Image .close").click(function () {
            var modal = document.getElementById("modalShowImage");
            modal.style.display = 'none';  // Ẩn popup
        });

       
    </script>

    @RenderSection("scripts", false)

</body>
</html>
