﻿
<section class="sidebar">
    <!-- Sidebar user panel -->
    @Html.Action("_UserPanelPartial", "AspNetUser")
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Tìm kiếm...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">TRANG QUẢN TRỊ</li>

        <li>
            <a href="@Url.Action("Index","KhamBenh")">
                <i class="fa fa-list"></i> <span>Danh Sách Khám Bệnh</span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index","PhieuKham")">
                <i class="fa fa-file"></i>
                <span>Phiếu Khám Bệnh</span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index","BenhNhan")">
                <i class="fa fa-users"></i>
                <span>Bệnh Nhân</span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index","HoaDonThanhToan")">
                <i class="fa fa-file-pdf-o"></i> <span>Hóa Đơn Thanh Toán</span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("DoanhThuTheoNgay","BaoCao")">
                <i class="fa fa-bar-chart"></i> <span>Báo Cáo Doanh Thu</span>
            </a>
        </li>

        <li>
            <a href="/BaoCaoSuDungThuoc.aspx">
                <i class="fa fa-bar-chart"></i> <span>Báo Cáo Sử Dụng Thuốc</span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Employees","AspNetUser")">
                <i class="fa fa-users"></i> <span>Nhân Viên</span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index","Thuoc")">
                <i class="fa fa-list-ul"></i> <span>Thuốc</span>
            </a>
        </li>

        <li class="header">QUẢN LÝ CÁ NHÂN</li>
        <li>
            <a href="@Url.Action("ProfileUser","AspNetUser")">
                <i class="fa fa-user"></i> <span>Hồ Sơ Cá Nhân</span>
            </a>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Đăng xuất</a>
        </li>
    </ul>
</section>
