﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="">
    <meta name="robots" content="none" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:url" content="@Request.Url.ToString()" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="@ViewBag.Description">
    <meta property="og:type" content="website">
    @RenderSection("meta", false)
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/Content/ps17/themes/warehouse/assets/cache/theme-4a403a38.css?v=2" type="text/css" media="all">
    <link href="~/Content/ps17/modules/iqitmegamenu/views/css/front.css" rel="stylesheet" />
    <script type="text/javascript" id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflcPgmxB/www-widgetapi.js" async=""></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/custom.js" type="text/javascript"></script>
    
    <style>
        .hidden, .hide {
            display: none;
        }

        .table-middle tr td {
            vertical-align: middle !important;
        }

        .modal-body {
            overflow: auto;
        }
    </style>
    @RenderSection("styles", false)
</head>
<body id="@ViewBag.BodyId" class="@(ViewBag.BodyClass ?? "lang-en country-us currency-usd layout-full-width page-index tax-display-disabled body-desktop-header-style-w-4")">
    <main id="main-page-content">  
        <section id="wrapper" style="margin-bottom: 553px;">
            @RenderBody()
        </section>
    </main>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/ps17/themes/warehouse/assets/cache/main-custom.js"></script>
    <script src="~/Scripts/bindingpartial.js"></script>
    <div id="iqitcompare-notification" class="ns-box ns-effect-thumbslider ns-text-only">
        <div class="ns-box-inner">
            <div class="ns-content">
                <span class="ns-title"><i class="fa fa-check" aria-hidden="true"></i> <strong>Product added to compare.</strong></span>
            </div>
        </div>
    </div>
    <button id="back-to-top" class="-back-to-top-visible">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>

    <div id="quickview-modal" class="modal fade quickview" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
 
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(function () {
            $(document).on("click", "a[data-lang]", function (e) {
                e.preventDefault();
                var expiry = new Date();
                expiry.setDate(expiry.getDate() + 30);
                document.cookie = "lang=" + $(this).attr("data-lang") + "; expires=" + expiry.toGMTString() + "; path=/";
                $.post("@Url.Action("ChangeLanguage","Shared")", function () {
                    window.location.replace("/");
                });
                return false;
            });
            $('[data-toggle="tooltip"]').tooltip();
            $(".js-quick-view-iqit").click(function (e) {
                e.preventDefault();
                $("#quickview-modal").attr("style", "display:block").fadeIn("slow").addClass("show");
            });
            $("span[aria-hidden=true]").click(function () {
                $(this).closest(".modal").fadeOut("fast").removeAttr("style").removeClass("show");
            });
            $("#back-to-top2").click(function () {
                $("html, body").animate({ scrollTop: 0 }, 1000);
                return false;
            });
            // Fill modal with content from link href
            $("#quickview-modal").on("show.bs.modal", function (e) {
                var link = $(e.relatedTarget);
                $(this).find(".modal-body").load(link.attr("href"));
            });

            $("#blockcart-modal").on("show.bs.modal", function (e) {
                var link = $(e.relatedTarget);
                $(this).find(".modal-body").load(link.attr("href"));
            });

             $(".modal-ajax").on("show.bs.modal", function (e) {
                var link = $(e.relatedTarget);
                $(this).find(".modal-content").load(link.attr("href"));
            });

            var lang = getCookie("lang");
            $("a[data-lang='" + lang + "']").parent().addClass("current");
        });

    </script>
</body>
</html>

