﻿@using Microsoft.AspNet.Identity
<div id="header-user-btn" class="col col-auto header-btn-w header-user-btn-w">
    @if (User.Identity.IsAuthenticated == false)
    {
        <a href="@Url.Action("Login", "Account")" title="Đăng Nhập" rel="nofollow" class="header-btn header-user-btn">
            <i class="fa fa-sign-in fa-fw icon" aria-hidden="true"></i>
            <span class="title">Đăng Nhập</span>
        </a>
    }
    else
    {
        <a href="@Url.Action("Index", "Manage")" title="Trang Cá Nhân" rel="nofollow" class="header-btn header-user-btn">
            <i class="fa fa-user fa-fw icon" aria-hidden="true"></i>
            <span class="title">Trang Cá Nhân</span>
        </a>
    }
</div>