﻿@{
    BenhNhan benhNhan = ViewBag.BenhNhan;
}


<script>
    $("select[data-name=Thuoc]").change(function () {
        var index = $(this).attr("data-index");
        $.post("@(Url.Action("GetThongTinThuoc","Thuoc"))", { maThuoc: $(this).val() }, function (data) {
            $("input[name=DonVi_" + index + "]").val(data.DonVi);
            $("input[name=CachDung_" + index + "]").val(data.CachDung);
        });
    });
    $("select[data-name=Thuoc]").change().bind();
</script>

<form method="post" action="@Url.Action("_CreateModal","PhieuKham")" name="frm" class="form-horizontal">
    <input type="hidden" name="MaBenhNhan" value="@benhNhan.MaBenhNhan" />
    <div class="modal-header bg-green">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">PHIẾU KHÁM BỆNH</h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered table-middle" method="post">
                <thead>
                    <tr class="bg-dark">
                        <th class="text-center">
                            BM2
                        </th>
                        <th colspan="4">
                            PHIẾU KHÁM BỆNH
                        </th>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Họ tên</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly value="@benhNhan.HoTen" class="form-control" />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Ngày khám</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly value="@(benhNhan.PhieuKham.NgayKham.ToString("dd/MM/yyyy"))" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Triệu chứng</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="TrieuChung" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Loại bệnh</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="DuDoanLoaiBenh" required class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </td>
                    </tr>
                    <tr>
                        <th class="text-center">STT</th>
                        <th>Thuốc</th>
                        <th>Đơn vị</th>
                        <th>Cách dùng</th>
                        <th>Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 5; i++)
                    {
                    <tr>
                        <td class="text-center">
                            <span>@i</span>
                        </td>
                        <td>
                            <select class="form-control" data-name="Thuoc" data-index="@i" name="Thuoc_@i">
                                <option value="">Chọn thuốc</option>
                                @foreach (Thuoc thuocItem in ViewBag.Thuocs)
                                {
                                    <option value="@thuocItem.MaThuoc">@thuocItem.TenThuoc</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="DonVi_@i" readonly="readonly" />
                        </td>
                        <td>
                            <input type="text" class="form-control" name="CachDung_@i" readonly="readonly" />
                        </td>
                        <td>
                            <input type="number" min="0" step="1" class="form-control" name="SoLuong_@i" />
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-default bg-green">Thêm Mới</button>
    </div>
</form>





