﻿@model PhieuKham


<form method="post" name="frm" class="form-horizontal">
    <div class="modal-header bg-green">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">PHIẾU KHÁM BỆNH</h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered table-middle" method="post">
                <thead>
                    <tr class="bg-dark">
                        <th class="text-center">
                            BM2
                        </th>
                        <th colspan="4">
                            PHIẾU KHÁM BỆNH
                        </th>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Họ tên</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly value="@Model.BenhNhan.HoTen" class="form-control" />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Ngày khám</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly value="@(Model.NgayKham.ToString("dd/MM/yyyy"))" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Triệu chứng</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly value="@Model.TrieuChung" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Loại bệnh</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly value="@Model.DuDoanLoaiBenh" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center">STT</th>
                        <th>Thuốc</th>
                        <th>Đơn vị</th>
                        <th>Số lượng</th>
                        <th>Cách dùng</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        int i = 1;
                    }
                    @foreach(ChiTietPhieuKham chiTietPhieuKham in ViewBag.ChiTietPhieuKhams)
                    {
                        <tr>
                            <td class="text-center">
                                <span>@i</span>
                            </td>
                            <td>
                                <input type="text" readonly value="@chiTietPhieuKham.Thuoc.TenThuoc" class="form-control" />
                            </td>
                            <td>
                                <input type="text" value="@chiTietPhieuKham.Thuoc.DonVi" class="form-control" readonly="readonly" />
                            </td>
                            <td>
                                <input type="number" readonly value="@chiTietPhieuKham.SoLuong" class="form-control"  />
                            </td>
                            <td>
                                <input type="text" value="@chiTietPhieuKham.Thuoc.CachDung" class="form-control" readonly="readonly" />
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
    </div>
</form>






