﻿@model List<PhieuKham>
@{
    ViewBag.Title = "Danh Sách Phiếu Khám Bệnh";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link href="~/Scripts/DatePicker/themes/jquery-ui.css" rel="stylesheet" />

}

@section scripts{
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DatePicker/jquery-ui.js"></script>
    <script src="~/Scripts/DatePicker/jquery.ui.datepicker-vi.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#tblData').DataTable({
                'ordering': false,
                'searching': false,
                'lengthChange': false,
                'info': false
            });

            $(document).on("submit", "form[name=frm]", function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("action"),
                    method: "Post",
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.status == 1) {
                            window.location.reload();
                        }
                        else {
                            ShowPopUpError(result.message);
                        }
                    },
                    error: function () {
                        ShowPopUpError("Lỗi ajax!");
                    }
                });
            });

            var thuocs = [];
            $.post("@Url.Action("GetAll","Thuoc")", function (result) {
                thuocs = result;
            });
        });
    </script>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="table-responsive">
                                <table id="tblData" class="table table-bordered" method="post">
                                    <thead>
                                        <tr>
                                            <th class="text-center">STT</th>
                                            <th>Họ Tên</th>
                                            <th class="text-center">Giới Tính</th>
                                            <th>Năm Sinh</th>
                                            <th>Địa Chỉ</th>
                                            <th>Ngày Khám</th>
                                            <th>Xem Phiếu Khám</th>
                                            <th>Thanh Toán</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                        }
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="text-center">
                                                    @i
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => item.BenhNhan.HoTen)
                                                </td>
                                                <td class="text-center">
                                                    @if (item.BenhNhan.GioiTinh == true)
                                                    {
                                                        <span>Nam</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Nữ</span>
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => item.BenhNhan.NamSinh)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => item.BenhNhan.DiaChi)
                                                </td>
                                                <td>
                                                    @(item.NgayKham.ToString("dd/MM/yyyy"))
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("_DetailModal", "PhieuKham", new { MaBenhNhan = item.MaBenhNhan })" data-toggle="modal" data-target="#modal-xemPhieuKhamBenh" class="btn bg-orange btn-sm"><i class="fa fa-pencil"></i> Xem Phiếu Khám</a>
                                                </td>
                                                <td>
                                                    @if(item.HoaDonThanhToan != null)
                                                    {
                                                        <button type="button" disabled class="btn btn-default btn-sm"><i class="fa fa-check"></i> Đã thanh toán</button>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("Create", "HoaDonThanhToan", new { maBenhNhan = item.MaBenhNhan })" class="btn btn-sm bg-red">Thanh toán</a>
                                                    }
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


<div class="modal fade modal-ajax" id="modal-xemPhieuKhamBenh">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>



