﻿@model List<BenhNhan>
@{
    ViewBag.Title = "Danh Sách Bệnh Nhân";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section scripts{
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#tblData').DataTable({
                'ordering': true,
                'searching': true,
                'lengthChange': true,
                'info': true,
            });  
        });
    </script>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tblData" class="table table-bordered" method="post">
                                    <thead>
                                        <tr class="bg-dark">
                                            <th class="text-center">
                                                BM3
                                            </th>
                                            <th colspan="4">
                                                DANH SÁCH BỆNH NHÂN
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">STT</th>
                                            <th>Họ Tên</th>
                                            <th>Ngày Khám</th>
                                            <th>Loại Bệnh</th>
                                            <th>Triệu Chứng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                        }
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="text-center">
                                                    @i
                                                </td>
                                                <td>
                                                    @item.HoTen
                                                </td>
                                                <td>
                                                   @item.PhieuKham.NgayKham.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @item.PhieuKham.DuDoanLoaiBenh
                                                </td>
                                                <td>
                                                    @item.PhieuKham.TrieuChung
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


 

