﻿@model ApplicationUser
<form action="@Url.Action("EditEmployee")" method="post" name="frm" class="form-horizontal">
    <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Sửa Thông Tin Nhân Viên</h4>
    </div>
    <div class="modal-body">
        <!-- form start -->
        @Html.AntiForgeryToken()
        <div class="box-body">
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                @Html.LabelFor(model => Model.FullName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => Model.FullName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => Model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">
                    Điện thoại
                </label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => Model.PhoneNumber, new { type = "text", @class = "form-control" })
                    @Html.ValidationMessageFor(model => Model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => Model.Address, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => Model.Address, new { type = "text", @class = "form-control" })
                    @Html.ValidationMessageFor(model => Model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn bg-orange"><i class="fa fa-save"></i> Cập nhật</button>
    </div>
</form>
@Scripts.Render("~/bundles/jqueryval")

