﻿@model ApplicationUser
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="~/Photos/Users/@Model.Avatar" class="user-image" alt="User Image">
        <span class="hidden-xs">@Model.FullName</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="~/Photos/Users/@Model.Avatar" class="img-circle" alt="User Image">
            <p>
                @Model.FullName - Nhân Viên
                <small>Gia nhập ngày @(Warehouse.Models.Format.FormatDateTime(Model.DateRegister))</small>
            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="@Url.Action("ProfileUser","AspNetUser")" class="btn btn-default btn-flat">Hồ sơ cá nhân</a>
            </div>
            <div class="pull-right">
                @using (Html.BeginForm("LogOff", "Account",new {area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    <input type="hidden" name="fromAdminArea" value="1" />
                    @Html.AntiForgeryToken()
                }
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Đăng xuất</a>
            </div>
        </li>
    </ul>
</li>

