﻿@model UpdateInfoViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ChangePasswordViewModel changePasswordViewModel = new ChangePasswordViewModel();
}
@section styles{
    <link href="~/dist/css/canvasCrop.css" rel="stylesheet" />
    <style>
        .cropped {
            position: absolute;
            right: -230px;
            top: 0;
            width: 200px;
            border: 1px #ddd solid;
            height: 460px;
            padding: 4px;
            box-shadow: 0px 0px 12px #ddd;
            text-align: center;
        }

        .imageBox {
            position: relative;
            height: 250px;
            width: 400px;
            border: 1px solid #aaa;
            background: #fff;
            overflow: hidden;
            background-repeat: no-repeat;
            cursor: move;
            box-shadow: 4px 4px 12px #B0B0B0;
        }

            .imageBox .thumbBox {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 200px;
                height: 200px;
                margin-top: -100px;
                margin-left: -100px;
                box-sizing: border-box;
                border: 1px solid rgb(102, 102, 102);
                box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
                background: none repeat scroll 0% 0% transparent;
            }

            .imageBox .spinner {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                text-align: center;
                line-height: 400px;
                background: rgba(0,0,0,0.7);
            }
    </style>
}
@section scripts{
    <script src="~/dist/js/jquery.canvasCrop.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function(){
        var rot = 0,ratio = 1;

        $('#upload-file').on('change', function(){
            var reader = new FileReader();
            reader.onload = function(e) {
                CanvasCrop = $.CanvasCrop({
                    cropBox : ".imageBox",
                    imgSrc : e.target.result,
                    limitOver : 2
                });
                rot =0 ;
                ratio = 1;

            }

            reader.readAsDataURL(this.files[0]);
            console.log(this);
            this.value = "";
            $("#crop").removeClass("hide");
            $("#btnLuu").addClass("hide");
        });

        $("#crop").on("click",function(){
            var src = CanvasCrop.getDataURL("jpeg");
            $("#modal-crop-image .modal-body").append("<img src='" + src + "' />");
            $("#file").val(src);
            $("#btnLuu").removeClass("hide");
            });

        console.log("ontouchend" in document);

    })
    </script>
    <script type="text/javascript">
        function ChangePasswordSuccess(response) {
            if (response.status == 1) {
                ShowPopUpSuccess("Đổi mật khẩu thành công. Trang sẽ tự tải lại sau 3 giây.");
                setTimeout(function () {
                    window.location.reload();
                }, 3000);
            }
            else {
                ShowPopUpError(response.message);
            }
        }
        function SetPasswordSuccess(response) {
            if (response.status == 1) {
                ShowPopUpSuccess("Đặt lại mật khẩu thành công. Trang sẽ tự tải lại sau 3 giây.");
                setTimeout(function () {
                    window.location.reload();
                }, 3000);
            }
            else {
                ShowPopUpError(response.message);
            }
        }
    </script>
}

<div class="modal fade" id="modal-crop-image">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-purple">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Thay ảnh đại diện</h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    @using (Html.BeginForm("ChangeAvatar", "AspNetUser", FormMethod.Post))
                    {
                        <input type="hidden" name="userId" value="@Model.Id" />
                        @Html.AntiForgeryToken()
                        <div class="imageBox">
                            <div class="mask"></div>
                            <div class="thumbBox"></div>
                            <div class="spinner" style="display: none">Loading...</div>
                        </div>
                        <div class="upload-wapper">
                            <br />
                            Chọn 1 hình
                            <input type="file" id="upload-file" value="Upload"><br />
                            <button type="button" class="btn btn-primary hide" id="crop">Crop</button>
                            <button type="submit" class="btn btn-danger hide" id="btnLuu"><i class="fa fa-save"></i> Lưu</button>
                            <input type="hidden" name="base64String" id="file" />
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Trang chủ </a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img style="cursor:pointer" title="Đổi hình" data-placement="bottom" class="profile-user-img img-responsive img-circle" src="~/Photos/Users/@Model.Avatar" alt="@Model.Avatar">
                    <h3 class="profile-username text-center">@Model.FullName</h3>
                    <h5 class="text-center text-info">@ViewBag.RoleId</h5>
                    @if (User.Identity.Name == Model.UserName)
                    {
                        <p class="text-center">
                            <input id="avatar" type="hidden" name="avatar">
                            <button type="button" data-toggle="modal" data-target="#modal-crop-image" id="btnDoiHinh" class="btn btn-default btn-xs"><i class="fa fa-image"></i> Đổi hình</button>
                        </p>
                    }
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <span>Tài khoản:</span> <label class="pull-right text-info">@Model.UserName</label>
                        </li>
                        <li class="list-group-item">
                            <span>Email:</span> <label class="pull-right text-info">@Model.Email</label>
                        </li>
                        <li class="list-group-item">
                            <span>Điện thoại:</span> <label class="pull-right text-info">@Model.PhoneNumber</label>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#settings" data-toggle="tab">Thông tin</a></li>
                    <li><a href="#changepassword" data-toggle="tab">Đổi mật khẩu</a></li>
                </ul>

                <div class="tab-content">
                    <!-- /.tab-pane -->
                    <div class="active tab-pane" id="settings">
                        <form action="@Url.Action("ProfileUser")" method="post" class="form-horizontal">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.FullName, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Address, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                </div>
                            </div>
                            @if (User.Identity.Name == Model.UserName)
                            {
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-6">
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> Cập Nhật</button>
                                    </div>
                                </div>
                            }
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div id="changepassword" class="tab-pane">
                            @using (Ajax.BeginForm("ChangePassword", "AspNetUser",null, new AjaxOptions { OnSuccess = "ChangePasswordSuccess", OnFailure = "ShowPopUpError('Lỗi!')", HttpMethod = "Post", AllowCache = false }, new { @class = "form-horizontal", role = "form" }))
                            {

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => changePasswordViewModel.OldPassword, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-6">
                                        @Html.PasswordFor(m => changePasswordViewModel.OldPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => changePasswordViewModel.NewPassword, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-6">
                                        @Html.PasswordFor(m => changePasswordViewModel.NewPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => changePasswordViewModel.ConfirmPassword, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-6">
                                        @Html.PasswordFor(m => changePasswordViewModel.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-6">
                                        <input type="submit" value="Đổi Mật Khẩu" class="btn btn-success" />
                                    </div>
                                </div>
                            }
                        </div>
                  
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
